body {
    background-image: url("../Image/Fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #069cf9;
}
.buttonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    padding: 10px;
    background-color: #009dff7f;
    color: #030303;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #009dff;
}
