body {
    background-image: url("../Image/Fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;

    font-family: sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    top: 0;

    background-color: rgba(0, 0, 0, 0.5);
    color: #069cf9;
    width: 100%;
}

.main-container {
    background-image: url("../Image/Formulario.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    width: 600px;
    
}

input[type="text"],
input[type="datetime-local"],
input[type="file"],

select {
    padding: 5px;
    margin-bottom: 5px;
    border: 2px solid #009dff;
    border-radius: 20px;
    font-size: 13px;

    cursor: pointer;
    appearance: none;
    
    background-color: #009dff7f;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    color: #030303;
}

div#imagenes{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

button#plus-btn{
    padding: 10px;
    background-color: #009dff7f;
    color: #030303;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
}

button#submit-btn {
    padding: 10px;
    background-color: #009dff7f;
    color: #030303;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

button#submit-btn:hover {
    background-color: #009dff;
}

button#start-btn {
    padding: 10px;
    background-color: #009dff7f;
    color: #030303;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

button#start-btn:hover {
    background-color: #009dff;
}
